{#{% extends "admin/base_site.html" %}#}
{% load i18n %}
{% load static %}
{% block content %}
    <html>
    <head>
        {% block title %}{% trans 'Page not found' %}{% endblock %}
        <meta name="description" content="Some ideas for modern button styles and effects"/>
        <meta name="keywords" content="button, effect, hover, style, inspiration, web design"/>
        <meta name="author" content="Codrops"/>
        <link href={% static "img/15.0904011.ico" %} mce_href="favicon.ico" rel="shortcut icon"
              type="{% static "img/15.0904011.ico" %}"/>
        <script type="text/javascript" src={% static "js/jquery.min.js" %}></script>
        <script type="text/javascript" src={% static "js/jquery.beattext.js" %}></script>
        <script type="text/javascript" src={% static "js/easying.js" %}></script>

        <link rel="stylesheet" href={% static "css/style.css" %}/>
        <link rel="stylesheet" href={% static "css/button.css" %}/>
        <script type="text/javascript">
            var system = {};
            var p = navigator.platform;
            system.win = p.indexOf("Win") == 0;
            system.mac = p.indexOf("Mac") == 0;
            system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
            if (system.win || system.mac || system.xll) {//如果是电脑跳转到
                window.location.href = "#";
            } else {  //如果是手机,跳转到
                window.location.href = "#";
            }
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('p#roloadText').beatText({
                    isAuth: true,
                    beatHeight: "1em",
                    isRotate: false,
                    upTime: 100,
                    downTime: 100
                });
            });
        </script>
    </head>
    <body>

    <div class="logo" id="a" onClick="a();" title="点击我有惊喜！">
        <img src={% static "img/20171216094159_QaLXP.jpeg" %}>
    </div>
    <br/><br/>
    <div class="container">
        <p id="roloadText">404！网页君找不到这个网页了哦...</p>
    </div>

    <div class="box bg-1">
        <button class="button button--antiman button--round-l button--text-medium"
                onClick="window.open('{% url "Comprehensive:GoIndex" %}')"><span>返回首页</span></button>
    </div>
    </div>
    <div class="body_buttom">


        <audio autoplay loop id="music">
            <source src={% static "music/music.mp3" %} type="audio/mpeg">
        </audio>
        <script>
            function a() {
                var audio = document.getElementById('music');
                if (audio.paused) {
                    audio.play();//audio.play();// 播放
                } else {
                    audio.pause();// 暂停
                }
            }
        </script>
    </div>
    </body>
    <html>
{% endblock %}
