{% load static %}
{% load admin_static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static "css/print.css" %}"/>
    <link rel="stylesheet" type="text/css" href={% static  "css/semantic.css" %}/>
    <link rel="stylesheet" type="text/css" href={% static  "css/element.css" %}/>

    <script src={% static  "js/jquery-2.1.1.js" %} type="text/javascript"></script>
    <script language="javascript">
        function preview(fang) {
            if (fang < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + fang + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + fang + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                window.document.body.innerHTML = prnhtml;
                window.print();
                window.document.body.innerHTML = bdhtml;
            } else {
                window.print();
            }
        }
    </script>
</head>
<body>
<div class="ui secondary  menu">
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <button type="button"
                        style=" border-radius: 20px;padding: 12px 23px;transform: scale(1.5);padding: 2px;margin-right: 30px;margin-top: 10px"
                        class="el-button--default" onclick="preview(1)"><i
                        class="el-icon-printer" style="transform: scale(1.2);"></i>&nbsp;打印
                </button>
            </div>
        </div>

    </div>
</div>

<!--startprint1-->
<div class="book">
    {% for dict in query %}
        <div class="page" style="position:relative;">
            {% if forloop.counter == 1 %}
                <h2 style="text-align: center">{{ quert_set.themeTitle }}</h2>
            {% endif %}
            {% for key,value in dict.items %}
                <div class="ui padded segment">
                    <p>
                    <h5>{{ key }}</h5>
                    </p>
                    {% for item in value %}
                        <p>
                            <img class="ui middle aligned tiny image" src={% static "img/quee1.png" %}
                                    style="width:30px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>{{ item.answer }}</span>
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}
            {#      <div style="position:absolute;bottom:30px;left: 50%;"><span >1</span></div>#}
        </div>
    {% empty %}
        <div class="page">
            <div class="ui"><h2 style="text-align: center">暂无无内容</h2></div>
        </div>
    {% endfor %}
</div>
<!--endprint1-->

</body>
</html>
